<button
          class="caption flex w-full text-xs lg:text-md h-el  pl-4 pr-4 justify-center items-center bg-c3 bg-opacity-50 rounded-lg py-4 backdrop-blur-lg "
          type="submit"
          name="checkout"
        >
          Checkout — {{ cart.total_price | money_with_currency }}
        </button>