<div class="absolute top-0 right-0 left-0 flex p-2  w-full z-50 justify-end items-end px-[20px]">
    {% comment %} <h2 class="pl-[10px] sm:pl-0">
      Cart (<span data-ajax-cart-bind="item_count" class="header__cart-quantity">{{ cart.item_count }}</span>)
    </h2> {% endcomment %}
    <div class="cart-btn text-sm lg:text-md">Close</div>
  </div>