<nav class="bg-[#fffdfd] top-0 fixed w-screen px-[20px] sm:px-[40px]">
  <div>
    <div class="relative items-center h-[50px] flex justify-between">
      <div class="text-md h-fit inset-y-0 left-0 flex items-center lg:hidden">
        <!-- Mobile menu button -->
        <button
          id="mobile-menu-button"
          type="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-gray-200 hover:text-black focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white"
          aria-controls="mobile-menu"
          aria-expanded="false">
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <!--
            Icon when menu is closed.
          
            Menu open: "hidden", Menu closed: "block"
          -->
          <svg
            class="block h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
          </svg>
          <!--
            Icon when menu is open.
          
            Menu open: "block", Menu closed: "hidden"
          -->
          <svg
            class="hidden h-6 w-6"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            aria-hidden="true">
            <path
              stroke-linecap="round"
              stroke-linejoin="round"
              d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>

      <div class="hidden lg:flex md:items-center w-full h-fit">
        <div class="flex gap-[10px] uppercase text-sm items-center">
          <div>
            <a class="hover:underline" href="/collections">All</a>
          </div>
          {% for collection in collections %}
            <div class="hover:underline w-[100px]">{{- collection.title | link_to: collection.url }}</div>
          {% endfor %}
        </div>
      </div>
      <div class="flex flex-row gap-[20px] w-full justify-end">
        <div class="flex justify-end items-center sm:justify-center">
          {% comment %} <a href="/">Wilbur Hsu</a> {% endcomment %}
          <a href="/"><img class="h-[50px] w-fit" src="{{ 'WilburName.jpg' ||  asset_url }}"></a>
        </div>
        <div class="flex justify-end items-center">
          <div class=" cart-btn text-xs lg:text-md bg-white rounded-full w-fit h-fit hover:underline">
            Cart (
            <span data-ajax-cart-bind="item_count" class="header__cart-quantity">{{ cart.item_count }}</span>
            )
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Mobile menu, show/hide based on menu state. -->

  <div class="hidden" id="mobile-menu">
    <div class="space-y-1 pb-3 w-fit px-[10px]">
      <div class="flex flex-col gap-[5px] uppercase w-fit">
        <div>
          <a class="hover:underline" href="/collections">All</a>
        </div>
        {% for collection in collections %}
          <div class="hover:underline">{{- collection.title | link_to: collection.url }}</div>
        {% endfor %}
      </div>
    </div>
  </div>
</nav>