<div class='grid grid-cols-3 p-[10px] fixed z-50 w-[50%] '> 

    <div class=' h-14 w-fit ' >
        <a href="/"> {{  shop.brand.logo | image_url: width: 700 | image_tag }} </a>
    
    </div>


    <ul class=' flex gap-[-5px] '>
        {% for link in linklists.main-menu.links %}
        <li class=' bg-white rounded-full w-fit  h-fit pl-2 pr-2 mb-1'><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>

    <div class=' flex justify-end ' >
        <p class=' cart-btn  bg-white rounded-full w-fit h-fit pl-2 pr-2 mb-1' data-ajax-cart-section >Cart [ {{ cart.item_count }} ] </p>
    </div>



</div>