<div class='bg-[#fffdfd] grid grid-cols-3 p-[10px] px-[40px] fixed z-50 w-[100%] items-center uppercase'>


  <div class="flex gap-[5px]  uppercase">
    {% for link in linklists['main-menu'].links %}
      <div class="w-fit  h-fit pl-2 pr-2">
        <a href="{{ link.url }}">{{ link.title }}</a>
      </div>
    {% endfor %}
  </div>

  <div class="flex items-center justify-center">Wilbur Hsu</div>

  <div class=' flex justify-end '>
    <p class=' cart-btn  bg-white rounded-full w-fit h-fit pl-2 pr-2 mb-1' data-ajax-cart-section>Cart ( {{ cart.item_count }} )
    </p>
  </div>


</div>