{% for product in collection.products %}
  <div class="flex w-full justify-start [&:nth-child(odd)]:justify-end">
    <div class="flex flex-col justify-end h-full w-[380px]">
      <a href="{{ product.url }}">
        <div class="flex flex-col">
          {% if product.featured_image %}
            <div class="">
              {{
                product.featured_image
                | image_url: height: 500
                | image_tag: class: ' object-cover object-center aspect-[1/1.4]'
              }}
            </div>
          {% endif %}

          <div class="flex justify-between">
            <div>{{ product.title }}</div>
            <div>
              {{ product.price | money_with_currency }}
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
{% endfor %}
