<div class="flex flex-col  ">
<div class="  ">

    {% if product.featured_image %}
        <div class='rouned-full h-full'>
    {{ product.featured_image | image_url: width: 700 | image_tag }}
</div>
<div>
    <a href="{{ product.url }}">{{ product.title }} </a>
    <p> {{ product.price | money_with_currency }} </p>
    {% endif %}
</div>
</div>
