{% for product in collection.products %}

  <div class="flex flex-col h-full w-full bg-white">
    <a href="{{ product.url }}">
      <div class="flex justify-center">
        <div class="flex flex-col">
          {% if product.featured_image %}

            <div class='h-[500px]'>
              {{ product.featured_image | image_url: height: 700 | image_tag: class: ' object-cover object-center aspect-[1/1.4]' }}
            </div>
          {% endif %}

          <div class="flex justify-between">
            <div>{{ product.title }}</div>
            <div>
              {{ product.price | money_with_currency }}
            </div>

          </div>
        </div>
      </div>

    </a>
  </div>
{% endfor %}