<div class="px-[40px] p-2 pt-[5rem]">
  <div class="flex flex-row gap-2 items-center">
    <a class="text-[14px] hover:underline" href="/">Home</a>
    <div class="text-[14px]">{{ title }}</div>
  </div>
</div>