<div class="px-[20px] lg:px-[40px] p-2 mt-[50px]">
  <div class="flex flex-row gap-2 items-center">
    <a class="text-[10px] hover:underline" href="/collections">All</a>
    <div>•</div>
    <div class="text-[10px]">{{ title }}</div>
  </div>
</div>