{% if collection.all_products_count > 0 %}
  {% render 'title' with { title: collection.title } %}
  <div class="flex flex-col justify-center items-center w-full pb-[20px] px-[20px]">
    <div>{{ collection.title }}</div>
  <div class="flex flex-col justify-center items-start pb-[20px] md:pb-[40px] lg:pb-[40px] py-[10px] max-w-[380px] gap-[5px]">{{ collection.description }}</div>
  </div>
  <div class="min-h-[calc(100dvh-196px)]">
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-y-5 gap-x-5 px-[10px] xl:px-[80px] pb-[80px] [&:nth-child(odd)]:justify-start">
      {% render 'product-card' %}
    </div>
  </div>
{% else %}
  <div>
    {% render 'title' with { title: collection.title } %}
    <div class="h-[100dvh]">
      <div class="pl-10 pt-10">
        <p>Sorry, there are no products in this collection</p>
      </div>
    </div>
  </div>
{% endif %}
