<div class="bg-[#fffdfd] flex flex-col-reverse sm:flex sm:flex-row gap-2 sm:justify-between py-[10px] px-[10px] text-xs">
  <div class="font-bold md:font-normal lg:font-normal">
    <a class="text-[10px]" href="/">Wilbur Hsu © 2024</a>
  </div>

  <div class="flex sm:items-center flex-col sm:flex sm:flex-row gap-2 w-fit">
    {% for page in pages -%}
      <div class="hover:underline">{{ page.title | link_to: page.url }}</div>
    {%- endfor %}
  </div>
</div>