<div class='grid grid-cols-3 p-2 fixed  w-[80%] '> 

    <div class=' ' >
        <h1 class='bg-white rounded-full w-fit h-fit pl-2 pr-2 mb-1'><a href="/">{{ shop.name }}</a></h1>
    </div>


    <ul class=' gap-2 '>
        {% for link in linklists.main-menu.links %}
        <li class=' bg-white rounded-full w-fit pl-2 pr-2 mb-1'><a href="{{ link.url }}">{{ link.title }}</a></li>
        {% endfor %}
    </ul>

  



</div>