
  

  

      <div class="asolute top-1 h-screen left-1 right-1 overflow-hidden">
        {{ section.settings.image_1 | img_url: '2048x' | img_tag }}
        {% comment %} <p class=" absolute left-0 bottom-0">{{ section.settings.img_text_1 }}</p> {% endcomment %}
      </div>

   




{% schema %}

  {
    "name": "Main Image",
    "settings": [
      {
        "type": "image_picker",
        "id": "image_1",
        "label": "Image One"
      },
      {
        "type": "text",
        "id": "img_text_1",
        "label": "Image One Text"
      }
    ],

    "presets": [
      {
        "name": " MainImage",
        "category": "Content"
      }
    ]
  }
{% endschema %}