{% comment %} Todo: Create a special tag or an upload that is specific for a new collections image on the landing page {% endcomment %}
{%  assign first_collection = collections | sort: 'id' |  reverse | first  %}

<div class="offset-2 h-[calc(100vh-50px)] w-full">
      <img
        width=""
        height=""
        class="animate-appear object-scale-down lg:object-cover"
        src="{{ '2502LandingImage.jpg'| asset_url }}"
        loading="lazy"
      >
</div>