<div class="min-h-[calc(100dvh-196px)] px-[10px] pt-[100px] md:pt-[50px] lg:pt-[50px] mb-[100px] md:mb-[160px] lg:mb-0 flex justify-center items-center">
  <div class="h-full flex justify-center items-center">
    <img class="object-cover object-center" src="{{ 'Landing.jpg' | asset_url }}" loading="lazy">

    </div>
 
</div>
