{% comment %} Todo: Create a special tag or an upload that is specific for a new collections image on the landing page {% endcomment %}

<div class="animate-appear offset-2 h-[100vh] pt-[50px] w-full">
      <img
        width=""
        height=""
        class="animate-appear object-cover"
        src="{{ '2502LandingImage.jpg'| asset_url }}"
        loading="lazy"
      >
</div>