<div class=" md:grid-cols-3 md:grid md:gap-2" >
  <div class="h-[100%] hidden md:block"><img class="object-scale-down" srcset="../assets/Landing.jpg"/></div>
  <div class="h-[100%]"><img class=" md:object-scale-down" srcset="../assets/Landing.jpg"/></div>
  <div class="h-[100%] hidden md:block"><img class="object-scale-down" srcset="../assets/Landing.jpg"/></div>
</div>