<div class="my-cart bg-[#fff] z-[2000] h-[100dvh] md:w-[350px] w-full no-scrollbar overflow-scroll">
  {% render 'cart-header' %}
  <div class="flex flex-col justify-between h-full pb-10  pr-0 pt-[40px] lg:pt-[60px] px-[20px] sm:px-[40px]" data-ajax-cart-section>
    <div class="my-cart__items " data-ajax-cart-section-scroll>
      <div class="text-xs uppercase">Summary</div>
      {% for line_item in cart.items %}
        {%
          render 'cart-card' with { product: line_item
          , index: forloop.index }
        %}
      {% endfor %}
    </div>
    <div class="flex gap-2 justify-center align-middle w-full">
      {% form 'cart', cart, id: 'my-ajax-cart-form' %}
        {% render 'cart-checkout' %}
      {% endform %}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "My Ajax cart"
}
{% endschema %}
