{% render 'title' with {title: page.title } %}
<div class="animate-appear pt-[20px] px-[20px] md:px-[40px] lg:px-[40px] min-h-[calc(100dvh-196px)] mb-[90px] w-full">
  <div class="flex justify-center items-center text-justify">
       <div class="h-full w-full md:w-1/2 lg:w-[30%]">
       <div class="custom-content text-justify">
        {{ page.content }}
       </div>
    </div>
  </div>
</div>
