<div class="flex items-center h-[100dvh]">
  <div class="px-[20px] md:px-[40px] lg:px-[40px] pt-[50px]">
    {% layout none %}
    {% if shop.password_message and shop.password_message != '' %}
      {{ shop.password_message }}
    {% else %}
      <p><span class="default-text">Will be opening soon...</span></p>
    {% endif %}

    {% form 'storefront_password' %}
      {{ form.errors | default_errors }}
      <div class="flex flex-col">
        <div>
          <label for="password">Enter store using password:</label>
          <input class="border !border-black rounded-sm" type="password" name="password">
        </div>
        <input class="w-1/2 bg-gray-200 px-[10px]" type="submit" value="Enter">
      </div>
    {% endform %}
  </div>
</div>
