{% if collection.all_products_count > 0 %}
    {% render 'title' with { title:collection.title } %}
    <div class='grid grid-flow-dense grid-cols-4 gap-2  p-2 [&>*:nth-child(2n)]:col-span-2 row-span-2 '>  
            {% for product in collection.products %}
                {% render 'product-card'  with {product: product} %}
            {% endfor %}
    </div>
{% else %}
    <p>Sorry, there are no products in this collection</p>
{% endif %}
