

<div class="flex  h-screen"> 
    <div class="w-full"> 

    {% for image in product.images %}

        {{ image | image_url: width: 700 | image_tag }}

        {% endfor %}
    </div>


    <div class="w-full p-2 pt-40 " > 

    <p>  {{product.title}} </p>

    <p> {{ product.description }}</p>

    {% render 'add-to-cart-form' with current_variant: current_variant  %}
    

    </div>
</div>