{% if collection.all_products_count > 0 %}
    {% render 'title' with { title:collection.title } %}
    <div class='grid  grid-flow-row-dense grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-2  p-2 [&>*:nth-child(3n)]:row-span-2  [&>*:nth-child(3n)]:col-span-2
    [&>*:nth-child(even)]: '>  
    
            {% for product in collection.products %}
                {% render 'product-card'  with {product: product} %}
            {% endfor %}
    </div>
{% else %}
    <p>Sorry, there are no products in this collection</p>
{% endif %}
