<div class="flex flex-col mt-[50px] px-[40px] mb-[50px]">
  <div>
    {% for url in product.collections %}
      <a class="hover:underline" href="{{ url.url }}">Back</a>
    {% endfor %}
  </div>
  <div class="grid md:grid-cols-2 grid-cols-1   gap-2  md:p-2  p-0">
    <div class="no-scrollbar post-wrapper transition-all flex md:flex-col md:h-auto h-[80vh] flex-row gap-2 overflow-y-scroll">
      {% for image in product.images %}
        {{ image | image_url: width: 700 | image_tag: class: 'h-full w-fit ' }}
      {% endfor %}
    </div>

    <div class="h-fit md:sticky top-[50px] p-0 lg:p-4">
      <ajax-cart-product-form>
        {% render 'add-to-cart-form' with current_variant: current_variant %}
      </ajax-cart-product-form>
    </div>
  </div>
</div>
